html, body, div, span,  object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: inline block;
}
* {
  outline: none;
}
html, body {
  background: #34495e;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.center {
	width:100%;
	background:white;
	text-align: center;
	display:inline-block;
}
a:link {
	color:#454545;
	text-decoration: none;
}
a:visited{
	color:#454545;
	text-decoration: none;
}
a:hover{
	color: #999999;
}
article {
  width: 100%;
  max-width: 1233px;
  margin: 0 auto;
  margin-bottom: 20px;
}
article h3 {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 900;
  font-size: 38px;
  padding-top: 72px;
  padding-bottom: 55px;
  color: #b7b7b7;
}
article h3.seperator {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
header {
  width: 100%;
  background: #99ccff;
  padding-top: 50px;
}
header h1 {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 7px;
  color: #252525;
  padding-bottom: 30px;
}
header h1 span {
  font-weight: 900;
  letter-spacing: 8px;
  font-size: 34px;
}
header h1 a {
  text-decoration: none;
  color: #252525;
  text-align: center;
}
header .seperator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 15%;
  margin: 0 auto;
}
header h2 {
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 200;
  font-size: 22px;
  margin-top: 25px;
  line-height: 30px;
  color: #454545;
  margin-left: 7%;
  margin-right: 7%;
}
header section {
  width: 100%;
  max-width: 1233px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 45px;
}
header section ul {
  overflow: hidden;
  *zoom: 1;
  width: 92.3%;
  margin: 0 3.85%;
  max-width: 1233px;
}
header section ul li {
  float: left;
  margin-right: -100%;
  width: 100%;
}
header section ul li h3 {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 900;
  font-size: 26px;
  color: #454545;
}
header section ul li p {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-top: 8px;
  line-height: 20px;
  color: #454545;
}
header section ul li img {
  display: block;
  width: 100%;
  max-width: 351px;
  margin: 0 auto;
}
header section ul li:nth-child(1n+1) {
  margin-left: 0%;
  margin-bottom: 3.85%;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (min-width: 460px) {
  header h2 {
    font-size: 26px;
    line-height: 33px;
    margin-left: 7%;
    margin-right: 7%;
  }

  header section ul li p {
    font-size: 16px;
    line-height: 22px;
  }

  header section ul li h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 550px) {
  header h2 {
    font-size: 28px;
    line-height: 38px;
    margin-left: 10%;
    margin-right: 10%;
  }

  header section ul li p {
    font-size: 14px;
  }

  header section ul li h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 700px) {
  header h2 {
    font-size: 30px;
    line-height: 38px;
    margin-left: 20%;
    margin-right: 20%;
  }
  header section {
    margin-top: 30px;
  }
  header section ul li p {
    font-size: 16px;
  }
  header section {
    padding-bottom: 25px;
  }
  header section ul li {
    float: left;
    margin-right: -100%;
    width: 30.77%;
  }
  header section ul li:nth-child(3n+1) {
    margin-left: 0%;
    margin-bottom: 3.85%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  header section ul li:nth-child(3n+2) {
    margin-left: 34.62%;
    margin-bottom: 3.85%;
    clear: none;
  }
  header section ul li:nth-child(3n+3) {
    margin-left: 69.23%;
    margin-bottom: 3.85%;
    clear: none;
  }
}
@media screen and (min-width: 900px) {
  header h2 {
    font-size: 32px;
    line-height: 48px;
    max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  section ul li p {
    font-size: 18px;
  }
  header section ul li h3 {
    font-size: 28px;
  }
}
#Officers {
  width: 100%;
  background: #34495e;
  padding-top: 50px;
  text-align: center;
  color:white;
}
#Officers h3 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 7px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
#Officers section {
  width: 100%;
  max-width: 1233px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 45px;
}
#Officers section ul {
  overflow: hidden;
  *zoom: 1;
  width: 92.3%;
  margin: 0 3.85%;
  max-width: 1233px;
  text-align: center;
  color:white;
}
#Officers section ul li {
  float: left;
  margin-right: -100%;
  width: 100%;
  text-align: center;
  color:white;
}
#Officers section ul li h4 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: white;
}
#Officers section ul li img {
  display: inline block;
  width: 100%;
  max-width: 251px;
  margin: 0 auto;
  height: 100%;
}
#Officers section ul li:nth-child(1n+1) {
  margin-left: 0%;
  margin-bottom: 3.85%;
  clear: both;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
@media screen and (min-width: 460px) {
  #Officers h4 {
    font-size: 26px;
    line-height: 33px;
    margin-left: 7%;
    margin-right: 7%;
  }
}
@media screen and (min-width: 550px) {
  #Officers h4 {
    font-size: 28px;
    line-height: 38px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (min-width: 700px) {
  #Officers h4 {
    font-size: 30px;
    line-height: 38px;
    margin-left: 20%;
    margin-right: 20%;
  }
  #Officers section {
    margin-top: 10px;
  }
  #Officers section {
    padding-bottom: 25px;
  }
  #Officers section ul li {
    float: left;
    margin-right: -100%;
    width: 30.77%;
  }
  #Officers section ul li:nth-child(3n+1) {
    margin-left: 0%;
    margin-bottom: 3.85%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  #Officers section ul li:nth-child(3n+2) {
    margin-left: 34.62%;
    margin-bottom: 3.85%;
    clear: none;
  }
  #Officers section ul li:nth-child(3n+3) {
    margin-left: 69.23%;
    margin-bottom: 3.85%;
    clear: none;
  }
}
@media screen and (min-width: 900px) {
  #Officers h4 {
    font-size: 32px;
    line-height: 48px;
    max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
#joinSIG {
  width: 100%;
  background: #6699cc;
  padding-bottom: 80px;
  margin: auto;
  text-align: center;
  color:white;
}
#joinSIG h3 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 7px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
#joinSIG h4 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
#Listserv section {
  width: 100%;
  max-width: 1233px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 45px;
}
#Listserv h3 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 7px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
#Listserv section ul {
  overflow: hidden;
  *zoom: 1;
  width: 92.3%;
  margin: 0 3.85%;
  max-width: 1233px;
}
#Listserv section ul li {
  float: left;
  margin-right: -100%;
  width: 100%;
}
#Listserv section ul li h4 {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: white;
}
#Listserv section ul li p {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-top: 8px;
  line-height: 20px;
  color: white;
}
#Listserv section ul li img {
  display: block;
  width: 100%;
  max-width: 351px;
  margin: 0 auto;
}
#Listserv section ul li:nth-child(1n+1) {
  margin-left: 0%;
  margin-bottom: 3.85%;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (min-width: 460px) {
  #Listserv h3 {
    font-size: 26px;
    line-height: 33px;
    margin-left: 7%;
    margin-right: 7%;
  }

  #Listserv section ul li p {
    font-size: 16px;
    line-height: 22px;
  }

  #Listserv section ul li h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 550px) {
  #Listserv h3 {
    font-size: 28px;
    line-height: 38px;
    margin-left: 10%;
    margin-right: 10%;
  }

  #Listserv section ul li p {
    font-size: 14px;
  }

  #Listserv section ul li h4 {
    font-size: 24px;
  }
}
@media screen and (min-width: 700px) {
  #Listserv h3 {
    font-size: 30px;
    line-height: 38px;
    margin-left: 20%;
    margin-right: 20%;
  }
  #Listserv section {
    margin-top: 30px;
  }
  #Listserv section ul li p {
    font-size: 16px;
  }
  #Listserv section {
    padding-bottom: 25px;
  }
  #Listserv section ul li {
    float: left;
    margin-right: -100%;
    width: 30.77%;
  }
  #Listserv section ul li:nth-child(3n+1) {
    margin-left: 0%;
    margin-bottom: 3.85%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  #Listserv section ul li:nth-child(3n+2) {
    margin-left: 34.62%;
    margin-bottom: 3.85%;
    clear: none;
  }
  #Listserv section ul li:nth-child(3n+3) {
    margin-left: 69.23%;
    margin-bottom: 3.85%;
    clear: none;
  }
}
@media screen and (min-width: 900px) {
  #Listserv h3 {
    font-size: 32px;
    line-height: 48px;
    max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  section ul li p {
    font-size: 18px;
  }
  #Listserv section ul li h4 {
    font-size: 28px;
  }
}
#Links {
  width: 100%;
  background: #6699cc;
  text-align: center;
  color:white;
}
#Links h3 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 7px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
#Links section {
  width: 100%;
  max-width: 1233px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 45px;
}
#Links section ul {
  overflow: hidden;
  *zoom: 1;
  width: 92.3%;
  margin: 0 3.85%;
  max-width: 1233px;
  text-align: center;
  color:white;
  padding: 5px;
}
#Links section ul li {
  float: left;
  margin-right: -100%;
  width: 100%;
  text-align: center;
  color:white;
}
#Links h4 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing:4px;
  color: white;
}
#Links section ul li:nth-child(1n+1) {
  margin-left: 0%;
  margin-bottom: 3.85%;
  clear: both;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
#ethicsPubs section {
  width: 100%;
  max-width: 1233px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 45px;
}
#ethicsPubs h3 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 7px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
#ethicsPubs section ul {
  overflow: hidden;
  *zoom: 1;
  width: 92.3%;
  margin: 0 3.85%;
  max-width: 1233px;
}
#ethicsPubs section ul li {
  float: left;
  margin-right: -100%;
  width: 100%;
}
#ethicsPubs section ul li h4 {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: white;
}
#ethicsPubs section ul li p {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-top: 8px;
  line-height: 20px;
  color: white;
}
#ethicsPubs section ul li p em {
	font-style: italic;
}
#ethicsPubs section ul li:nth-child(1n+1) {
  margin-left: 0%;
  margin-bottom: 3.85%;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
@media screen and (min-width: 460px) {
  #ethicsPubs h3 {
    font-size: 26px;
    line-height: 33px;
    margin-left: 7%;
    margin-right: 7%;
  }
  #ethicsPubs section ul li p {
    font-size: 16px;
    line-height: 22px;
  }
  #ethicsPubs section ul li h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 550px) {
  #ethicsPubs h3 {
    font-size: 28px;
    line-height: 38px;
    margin-left: 10%;
    margin-right: 10%;
  }
  #ethicsPubs section ul li p {
    font-size: 14px;
  }
  #ethicsPubs section ul li h4 {
    font-size: 24px;
  }
}
@media screen and (min-width: 700px) {
  #ethicsPubs h3 {
    font-size: 30px;
    line-height: 38px;
    margin-left: 20%;
    margin-right: 20%;
  }
  #ethicsPubs section {
    margin-top: 30px;
  }
  #ethicsPubs section ul li p {
    font-size: 16px;
  }
  #ethicsPubs section {
    padding-bottom: 25px;
  }
  #ethicsPubs section ul li {
    float: left;
    margin-right: -100%;
    width: 30.77%;
  }
  #ethicsPubs section ul li:nth-child(3n+1) {
    margin-left: 0%;
    margin-bottom: 3.85%;
    clear: both;
    overflow: hidden;
    *zoom: 1;
  }
  #ethicsPubs section ul li:nth-child(3n+2) {
    margin-left: 34.62%;
    margin-bottom: 3.85%;
    clear: none;
  }
  #ethicsPubs section ul li:nth-child(3n+3) {
    margin-left: 69.23%;
    margin-bottom: 3.85%;
    clear: none;
  }
}
@media screen and (min-width: 900px) {
  #ethicsPubs h3 {
    font-size: 32px;
    line-height: 48px;
    max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  section ul li p {
    font-size: 18px;
  }
  #ethicsPubs section ul li h4 {
    font-size: 28px;
  }
}

#contact {
  width: 100%;
  background: #6699cc;
  padding-bottom: 80px;
  margin: auto;
  text-align: center;
  color:white;
}
#contact h3 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 7px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
#contact h4 {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
footer {
  background:#333333;
  width: 100%;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer h3 {
	background:#333333;
	text-align: center;
	color:#FFFFCC;
	letter-spacing: 3px;
}
footer h3 a:link{
	color:#FFFFCC;
}
footer h3 a:hover{
	color: white;
}
footer h3 a:visited{
	color:#FFFFCC;
}
footer h4 {
	background:#333333;
	text-align: center;
	color:#FFFFCC;
	letter-spacing: 1px;
}

